

body{background-image:url(hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.main{
    width: 1050px;background-color: rgba(194, 154, 137, 0.486);
    margin-left:auto ;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: rgb(161, 140, 108);  
    padding: 1em;    
                                                            
} 
h1{font-size: 35px;color:black; text-align: center;
}
.kep{width: 370px;
    height: 220px;
    float: left;
    margin: 0px 20px 0px 20px;
}
.kep1{width: 370px;
    height: 220px;
    float: right;
    margin: 0px 20px 0px 20px;
}

.h3{text-decoration: underline;}
.h2{text-align: center;color: #000;
font-size:30px}
#vege{ font-style: italic;
        text-decoration: underline;
        text-align: center;


}
.kep2{width: 370px
    ;height: 220px;
    
    
margin: 0px 20px 0px 20px;
border: #000;
border-radius: 10px;}

.erd{text-decoration: underline;




}